<div class="main-content space1">
    <div class="container container-240">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Cart</li>
        </ul>
        <container>
            <p>Failed</p>
        </container> 
        <a href="#">Home</a>
    </div>
</div>